Pulse attachment file sent without file extension

**Describe the bug**
When using Pulse feature and define email sent as XLS or CSV,  the file generated with incorrect extension and the file name is too long.

**Logs**

Sample filename generated: _=_UTF-8_B_16DXmdeq15XXp9eZINeS15HXmdeZ15Qg16bXpNeV15nXmdedLn___ ___filename_1=__hsc3g=_=_

**To Reproduce**
Steps to reproduce the behavior:
1. Create pulse.
2. Select sample question.
3. Choose the attachment option.
4. Mail will be sent with incorrect file name and without file extension.

**Expected behavior**
File name should be sent with the pulse name (escaping special characters) and perhaps some datetime format (_YYYYmmdd) suffix. The extension should xls or csv depend on what the user selected.

**Screenshots**
![image](https://user-images.githubusercontent.com/1040582/74172121-5c619500-4c38-11ea-852c-3208754b497f.png)


**Information about your Metabase Installation:**
0.34.2

**Severity**
Medium as the file cannot be opened with various mail clients.


It looks like a duplicate of #8410, but without the extension, so I'm leaving this and upping to P2

Still working on a fix, but wanted to write down some initial findings:

* Non-ASCII characters in filenames are encoded [as per IETF RFC 2047](https://tools.ietf.org/html/rfc2047) (c.f. #8410)
* Sufficiently-long _encoded_ filenames are sent over multiple lines as per [RFC 2184 section 3](https://tools.ietf.org/html/rfc2184#section-3), for example:

```
Content-Disposition: attachment; 
	filename*0="=?UTF-8?Q?T=C3=A9=C5=BFting_non-ASCII_=C4=8D=C4=A5=C3=A4ract"; 
	filename*1="ers.xlsx?="
```
* Some mail clients Do The Right Thing, such as Zoho:

![zoho](https://user-images.githubusercontent.com/784417/96771042-c83ef480-13a6-11eb-8b33-cb3b3be38314.png)

* Gmail does not do the right thing, interpreting the whitespace and `filename*1="` as part of the filename: 

![gmail-cropped](https://user-images.githubusercontent.com/784417/96771365-28ce3180-13a7-11eb-9944-3b9f1409044c.png)

I suspect the right thing is to put the entire name on one line with no wrapping, regardless of length. The wrapping logic is handled by [postal, a third-party library](https://github.com/drewr/postal).